header {
  height: 8vh;
  @include grid-12;

  h1 {
    grid-column: 5/9;
    font-size: $text-title;
    color: $text-colour-white;
    justify-self: center;
  }

  button {
    grid-column: 11/12;
  }
}
