header {
  height: 8vh;
  @include grid-12;

  h1 {
    grid-column: 5/9;
    font-size: $text-title;
    color: $text-colour-white;
    justify-self: center;
    grid-gap: $gap;
  }

  .cv-button {
    grid-column: 11/11;
    margin-right: $gap;
  }

  .git-button {
    grid-column: 12/12;
    margin-right: $gap;
  }
}
