//  @include flex-center

@mixin flex-center {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  align-content: center;
  align-items: center;
}
