// Colour
$colour-background: #0a192fff;
$colour-background2: #112240;

// Font Size
$text-title: 20px;
$text-medium: 16px;
$text-small: 13px;

// Font website
// https://coolors.co/0a192f-ffffff-8a92ad-fcb4b1-f97068
$text-colour-white: white;
$text-colour-frosty: #8a92adff;
$text-colur-pop: #f97068ff;
$text-colour-melon: #fcb4b1ff;

// Outline / Shapes
$radius: 5px;
$button-border: 2px solid $text-colur-pop;

// Margin / Padding
$text-margin: 10px;
