.project-preview-card {
  height: 400px;
  min-width: 400px;
  width: 200px;
  background-color: $gradient;
  border-radius: $radius;
  background: $gradient;
  justify-self: center;
  margin-top: $text-margin;
  margin-bottom: $text-margin;
  color: $text-colour-white;
}

.project-preview-card:hover {
  transform: translate(0px, -10px);
}

.preview-card-click {
  width: 100%;
  height: 100%;
  @include flex-center;
  flex-direction: column;
  grid-gap: $text-margin;
}

.preview-image {
  width: 85%;
  height: auto;
  margin-top: $text-margin;
  border-radius: $radius;
}
