.projects-container {
  width: 100%;
  height: 92vh;
  @include grid-12;
  grid-template-rows: 1fr 8fr;
}

.project-list {
  grid-column: 1/13;
  max-height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-right: $text-margin;
  margin-left: $text-margin;
}

.project-header {
  grid-column: 1/13;
  justify-self: center;
}
