@import 'styles/imports';

// Page Layout

html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $colour-background;
  color: $text-colour-frosty;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

main {
  height: fit-content;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 92vh;
  scroll-behavior: smooth;

  section {
    height: 92vh;
    @include flex-center;
    scroll-snap-align: start;
  }

  .section-one {
    display: flex;
    flex-direction: column;
  }
  .section-two {
    height: fit-content;
  }
  .section-three {
  }
  .section-four {
  }
}

// hide scrollbar
main::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
