@import 'styles/variables';
@import 'styles/components/layout/navbar';
@import 'styles/mixins';
@import 'styles/components/button';

// Page Layout
html,
body {
  margin: 0px;
  padding: 0px;
  background-color: $colour-background;
  color: $text-colour-frosty;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
