@import 'styles/mixins';
@import 'styles/variables';
@import 'styles/components/layout/navbar';
@import 'styles/components/button';
@import 'styles/components/layout/main';
@import 'styles/components/typewriter';
@import 'styles/components/scrollButton';

// Page Layout
html,
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $colour-background;
  color: $text-colour-frosty;
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
